@{
    ViewData["Title"] = "Tu perfil";
}
<h2>Perfil de @ViewBag.nombre</h2>

<ul>
    <li><b>Edad:</b> @ViewBag.edad años</li>
    <li><b>Fecha de ingreso:</b> @ViewBag.fecha.ToShortDateString()</li>
    <li><b>Tiempo en la organización:</b> @ViewBag.tiempo</li>
    <li><b>Dirección:</b> @ViewBag.direccion</li>
    <li><b>Teléfono:</b> @ViewBag.telefono</li>
</ul>

<a href="/Home/Logout">Cerrar sesión</a>